* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
}

body:before {
  content: "";
  top: -100px;
  right: 0;
  width: 48%;
  height: 70%;
  background-color: #edf2f6;
  position: absolute;
  border-bottom-left-radius: 70px;
}

main {
  width: 100%;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    margin-top: 35px;
  }
}

.main-illustration {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 48%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 750px) {
  .main-illustration {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 300px;
    margin-top: 20px;
  }
}

body {
  position: relative;
}

body:before {
  content: "";
  top: -100px;
  right: 0;
  width: 49%;
  height: 75%;
  background-color: #edf2f6;
  position: absolute;
  border-bottom-left-radius: 60px;
}

@media screen and (max-width: 750px) {
  body:before {
    height: 540px;
  }
}

nav {
  margin: 50px 9% 80px 10%;
  font-family: "Barlow Condensed", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 750px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85vw;
    margin: 40px auto 0;
  }
}

.logo {
  height: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  overflow: hidden;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 5;
}

@media screen and (max-width: 750px) {
  .menu {
    max-height: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    -webkit-box-shadow: 3px 3px 15px -5px #ada8ad;
            box-shadow: 3px 3px 15px -5px #ada8ad;
  }
}

nav ul :nth-child(4) {
  list-style: disc;
  padding-left: 35px;
  margin-left: 35px;
  color: #a0a1ac;
}

@media screen and (max-width: 750px) {
  nav ul :nth-child(4) {
    list-style: none;
    margin: 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #a0a1ac;
    display: inline-block;
  }
}

.login {
  color: #a0a1ac;
}

nav ul li {
  margin-right: 35px;
}

@media screen and (max-width: 750px) {
  nav ul li {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

nav ul a {
  font-size: 17px;
  text-decoration: none;
  color: #242942;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul a:hover {
  text-decoration: underline;
}

nav .menu-icon {
  display: none;
}

@media screen and (max-width: 750px) {
  nav .menu-icon {
    display: block;
    position: relative;
    float: right;
    cursor: pointer;
  }
}

nav .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 4px;
  width: 25px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

nav .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 8px;
  -webkit-transition: all 0.2 ease-out;
  transition: all 0.2 ease-out;
}

nav .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -8px;
  -webkit-transition: all 0.2 ease-out;
  transition: all 0.2 ease-out;
}

.menu-btn {
  display: none;
}

nav .menu-btn:checked ~ .menu {
  max-height: 240px;
  -webkit-box-shadow: 3px 3px 15px -6px #817f81;
          box-shadow: 3px 3px 15px -6px #817f81;
  padding: 25px 25px 20px 25px;
  position: absolute;
  top: 70px;
  background-color: #fff;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.left-section {
  padding: 30px 0 0 10%;
  font-family: "Barlow", sans-serif;
  width: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media screen and (max-width: 750px) {
  .left-section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 90%;
    margin: 80px auto;
    padding-left: 0;
  }
}

.left-section .pre-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a0a1ac;
}

.left-section .pre-title span {
  letter-spacing: 0px;
  color: #fff;
  background-color: #242942;
  padding: 2px 10px 3px 11px;
  border-radius: 21px;
  margin-right: 15px;
}

.left-section h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  width: 85%;
  margin: 12px 0 25px 0;
}

@media screen and (max-width: 750px) {
  .left-section h1 {
    font-size: 43px;
    width: 100%;
    margin: 20px 0 20px 0;
  }
}

.left-section .after-title {
  width: 50%;
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #5b5f71;
}

@media screen and (max-width: 750px) {
  .left-section .after-title {
    width: 100%;
  }
}

.left-section .container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.left-section .container button {
  font-size: 0.9rem;
  color: #fff;
  background-color: #ff5c5c;
  padding: 15px 25px;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 750px) {
  .left-section .container button {
    padding: 15px 20px;
    font-size: 0.7rem;
  }
}

.left-section .container button:hover {
  opacity: 0.5;
}

.left-section .container .side-button {
  text-transform: uppercase;
  color: #5b5f71;
  float: right;
  margin-left: 20px;
  font-size: 0.8rem;
  letter-spacing: 3px;
}

@media screen and (max-width: 750px) {
  .left-section .container .side-button {
    font-size: 0.8rem;
  }
}
